/* Form com borda */
form {
    border: 3px solid #f1f1f1;
}

/* Entradas de largura total */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Entradas de meia largura */
.inputMedio{
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Defina um estilo para todos os botões */
button {
    background-color: #2196F3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Adicione um efeito de foco para os botões */
button:hover {
    opacity: 0.8;
}

/* Estilo extra para o botão Cancelar (vermelho) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* centralize a imagem do avatar dentro deste contêiner */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar imagem */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Adicionar preenchimento aos contêineres */
.container {
    padding: 16px;
}

/* O texto "Esqueci a senha" */
span.psw {
    float: right;
    padding-top: 16px;
}

.Radio {
    display: inline-flex;
    align-items: center;
}

.Radio--large {
    font-size: 2rem;
}

.Radio-Input {
    margin: 0 0.5rem 0;
}

footer {
    text-align: center;
    padding: 2px;
    background-color:#2196F3!important;
    color: white;
}


.imgHolder {
    position: relative;
}
.imgHolder span {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid green;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }


}